<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" prefix="og: http://ogp.me/ns#">

<head profile="http://gmpg.org/xfn/11">
    <%- include header.ejs %>

        <body dir="rtl" id="category-hotels" class="lang-en page-hotelsesi action-hotelsindex   default-layout scaffold-font-size   spring-clean month-view-spring-clean ">
            <div id="position-fixer"></div>
            <noscript>
                <div class="no-js-msg">
                    <p>
                        aratrip needs JavaScript to work. It looks like your browser doesn't support JavaScript, or has it turned off. Please try
                        again with JavaScript support.
                    </p>
                </div>
            </noscript>
            <div id="pagewrap" class="clearfix">

                <%- include navbar.ejs %>
                
                    <!--  body -->

                    <!-- START  -->
                    <main class="wrap content">
                        <article>
                            <header class="single-post__header">
                                <h1 class="single-post__title">Discover Skyscanner</h1>

                            </header>

                            <figure class="wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube">
                                <!-- <div class="jetpack-video-wrapper">
                                    <iframe src="https://www.youtube.com/" frameborder="0" allow="autoplay; encrypted-media"
                                        allowfullscreen="" data-ratio="0.5629770992366412" data-width="1048" data-height="590"
                                        style="display: block; margin: 0px; width: 1000px; height: 562.977px;"></iframe>
                                </div> -->
                            </figure>

                            <p>Skyscanner is a leading global travel search site, a place where people are inspired to plan
                                and book direct from millions of travel options at the best prices.</p>

                            <p>We are unbiased and free, which means that the 60 million people who use us every month can trust
                                our comprehensive range of flight, hotel and car hire options.</p>

                            <p>Our secret is in our unique proprietary technology that connects people directly to everything
                                the travel industry has to offer. We also power travel search for over 1200 partners through
                                our Skyscanner for Business products.We’re a high-growth business with a simple aim: to inspire
                                travellers around the world and make travel search as easy as possible through our world-class
                                technology.
                            </p>

                            <p>Our highly-rated free mobile app has been downloaded over 70 million times. We’re global but
                                local and our products are available in over 30 languages and 70 currencies.</p>

                            <p>Founded in 2003, we employ over 900 staff, with offices in Barcelona, Beijing, Budapest, Edinburgh,
                                Glasgow, London, Miami, Shenzhen, Singapore and Sofia. Skyscanner is part of the Ctrip group.</p>

                            <p>Skyscanner is always free for travellers and we never charge travellers commission. We work with
                                our airline and online travel agent partners in a number of ways: some partners agree to
                                give Skyscanner a commission for every booking made through us or for every time travellers
                                visit a partner’s website. Other partners advertise on the Skyscanner website and app. We
                                always make sure any adverts are labelled or separate from any search results so users know
                                exactly what’s what.</p>
                        </article>
                    </main>

            </div>
            <!-- END  -->
            <!--  body -->
            <%- include footer.ejs %>
                <div class=" legal-info">
                    <p id="copyright" class="asian-lang-font-reset">
                        <span> aratrip &copy; 2018-2018</span>
                    </p>
                </div>
                </div>
        </body>

</html>