<div id="filter-inner" class="listing-inner displayed-price-total" style="font-family: 'B Yekan'">

    <button id="btn-deselect-all-unknown" class="btn-deselect-all">حذف همه فيلتر ها</button>

    <dl id="filter-price" class="expanded">
        <dt>
            <a data-icon="upBlue after" href="javascript:void(0)">
                بازه قيمت
            </a>
        </dt>
        <dd>
            <ol>
                <li id="filter_range1">
                    <label for="filter-price-range1">
                        <span class="filter-control">
                            <input id="filter-price-range1" type="checkbox" name="filter-price" value="1">
                        </span>
                        <span class="filter-meta-range">
                            <span>200،000 - 0</span>
                            <!-- <span class="filter-meta-amount">(1)</span> -->
                        </span>
                    </label>
                </li>
                <li id="filter_range2">
                    <label for="filter-price-input-range2">
                        <span class="filter-control">
                            <input id="filter-price-input-range2" type="checkbox" name="filter-price" value="2">
                        </span>
                        <span class="filter-meta-range">
                            <span>400،000 - 200،000</span>
                            <!-- <span class="filter-meta-amount">(1)</span> -->
                        </span>
                    </label>
                </li>
                <li id="filter_range3">
                    <label for="filter-price-input-range3">
                        <span class="filter-control">
                            <input id="filter-price-input-range3" type="checkbox" name="filter-price" value="3">
                        </span>
                        <span class="filter-meta-range">
                            <span>700،000 - 400،000</span>
                            <!-- <span class="filter-meta-amount">(1)</span> -->
                        </span>
                    </label>
                </li>
                <li id="filter_range4">
                    <label for="filter-price-input-range4">
                        <span class="filter-control">
                            <input id="filter-price-input-range4" type="checkbox" name="filter-price" value="4">
                        </span>
                        <span class="filter-meta-range">
                            <span>1،000،000 - 700،000</span>
                            <!-- <span class="filter-meta-amount">(1)</span> -->
                        </span>
                    </label>
                </li>
                <li id="filter_range5">
                    <label for="filter-price-input-range5">
                        <span class="filter-control">
                            <input id="filter-price-input-range5" type="checkbox" name="filter-price" value="5">
                        </span>
                        <span class="filter-meta-range">
                            <span>>1،000،000</span>
                            <!-- <span class="filter-meta-amount">(1)</span> -->
                        </span>
                    </label>
                </li>
            </ol>
        </dd>
    </dl>

    <dl id="filter-category" class="expanded">
        <dt>
            <a data-icon="upBlue after" href="javascript:void(0)">ستاره </a>
        </dt>
        <dd>
            <ol>
                <li id="category5">
                    <label for="filter-category-input-5">
                        <span class="filter-control">
                            <input id="filter-category-input-5" type="checkbox" name="filter-category" value="5">
                        </span>
                        <span style="font-size:150%;color:Orange;">&starf;</span>
                        <span style="font-size:150%;color:Orange;">&starf;</span>
                        <span style="font-size:150%;color:Orange;">&starf;</span>
                        <span style="font-size:150%;color:Orange;">&starf;</span>
                        <span style="font-size:150%;color:Orange;">&starf;</span>
                        <!-- <span class="filter-meta-amount">(34)</span> -->
                    </label>
                </li>
                <li id="category4">
                    <label for="filter-category-input-4">
                        <span class="filter-control">
                            <input id="filter-category-input-4" type="checkbox" name="filter-category" value="4">
                        </span>
                        <span style="font-size:150%;color:Orange;">&starf;</span>
                        <span style="font-size:150%;color:Orange;">&starf;</span>
                        <span style="font-size:150%;color:Orange;">&starf;</span>
                        <span style="font-size:150%;color:Orange;">&starf;</span>
                        <!-- <span class="filter-meta-amount">(34)</span> -->
                    </label>
                </li>
                <li id="category3">
                    <label for="filter-category-input-3">
                        <span class="filter-control">
                            <input id="filter-category-input-3" type="checkbox" name="filter-category" value="3">
                        </span>
                        <span style="font-size:150%;color:Orange;">&starf;</span>
                        <span style="font-size:150%;color:Orange;">&starf;</span>
                        <span style="font-size:150%;color:Orange;">&starf;</span>
                        <!-- <span class="filter-meta-amount">(34)</span> -->
                    </label>
                </li>
                <li id="category2">
                    <label for="filter-category-input-2">
                        <span class="filter-control">
                            <input id="filter-category-input-2" type="checkbox" name="filter-category" value="2">
                        </span>
                        <span style="font-size:150%;color:Orange;">&starf;</span>
                        <span style="font-size:150%;color:Orange;">&starf;</span>
                        <!-- <span class="filter-meta-amount">(34)</span> -->
                    </label>
                </li>
                <li id="category1">
                    <label for="filter-category-input-1">
                        <span class="filter-control">
                            <input id="filter-category-input-1" type="checkbox" name="filter-category" value="1">
                        </span>
                        <span style="font-size:150%;color:Orange;">&starf;</span>
                        <!-- <span class="filter-meta-amount">(34)</span> -->
                    </label>
                </li>
            </ol>
        </dd>
    </dl>


    <dl id="filter-city" class="expanded long_list">
        <dt>
            <a data-icon="upBlue after" href="javascript:void(0)">شهر</a>
        </dt>
        <dd>
            <ol>
                <li class"city-filter" id="filter_tehran">
                    <label for="filter-city-input-tehran">
                        <span class="filter-control">
                            <input id="filter-city-input-tehran" type="checkbox" name="filter-city" value="تهران">
                        </span>
                        <span class="filter-meta-range">
                            تهران
                        </span>
                    </label>
                </li>
                <li class"city-filter" id="filter_esfahan">
                    <label for="filter-city-input-esfahan">
                        <span class="filter-control">
                            <input id="filter-city-input-esfahan" type="checkbox" name="filter-city" value="اصفهان">
                        </span>
                        <span class="filter-meta-range">
                            اصفهان
                        </span>
                    </label>
                </li>
                <li class"city-filter" id="filter_mashhad">
                    <label for="filter-city-input-mashhad">
                        <span class="filter-control">
                            <input id="filter-city-input-mashhad" type="checkbox" name="filter-city" value="مشهد">
                        </span>
                        <span class="filter-meta-range">
                            مشهد
                        </span>
                    </label>
                </li>
                <li class"city-filter" id="filter_shiraz">
                    <label for="filter-city-input-shiraz">
                        <span class="filter-control">
                            <input id="filter-city-input-shiraz" type="checkbox" name="filter-city" value="شیراز">
                        </span>
                        <span class="filter-meta-range">
                            شیراز
                        </span>
                    </label>
                </li>
                <li class"city-filter" id="filter_tabriz">
                    <label for="filter-city-input-tabriz">
                        <span class="filter-control">
                            <input id="filter-city-input-tabriz" type="checkbox" name="filter-city" value="تبریز">
                        </span>
                        <span class="filter-meta-range">
                            تبریز
                        </span>
                    </label>
                </li>
                <li class"city-filter" id="filter_kish">
                    <label for="filter-city-input-kish">
                        <span class="filter-control">
                            <input id="filter-city-input-kish" type="checkbox" name="filter-city" value="کیش">
                        </span>
                        <span class="filter-meta-range">
                            کیش
                        </span>
                    </label>
                </li>
                <li class"city-filter" id="filter_gheshm">
                    <label for="filter-city-input-gheshm">
                        <span class="filter-control">
                            <input id="filter-city-input-gheshm" type="checkbox" name="filter-city" value="قشم">
                        </span>
                        <span class="filter-meta-range">
                            قشم
                        </span>
                    </label>
                </li>
                <li id="filter_yazd" class"city-filter">
                    <label for="filter-city-input-yazd">
                        <span class="filter-control">
                            <input id="filter-city-input-yazd" type="checkbox" name="filter-city" value="یزد">
                        </span>
                        <span class="filter-meta-range">
                            یزد
                        </span>
                    </label>
                </li>
                <li id="filter_ghom" class"city-filter">
                    <label for="filter-city-input-ghom">
                        <span class="filter-control">
                            <input id="filter-city-input-ghom" type="checkbox" name="filter-city" value="قم">
                        </span>
                        <span class="filter-meta-range">
                            قم
                        </span>
                    </label>
                </li>
                <li id="filter_hamedan" class"city-filter">
                    <label for="filter-city-input-hamedan">
                        <span class="filter-control">
                            <input id="filter-city-input-hamedan" type="checkbox" name="filter-city" value="همدان">
                        </span>
                        <span class="filter-meta-range">
                            همدان
                        </span>
                    </label>
                </li>
                <li id="filter_kerman" class"city-filter">
                    <label for="filter-city-input-kerman">
                        <span class="filter-control">
                            <input id="filter-city-input-kerman" type="checkbox" name="filter-city" value="کرمان">
                        </span>
                        <span class="filter-meta-range">
                            کرمان
                        </span>
                    </label>
                </li>
                <li id="filter_sari" class"city-filter">
                    <label for="filter-city-input-sari">
                        <span class="filter-control">
                            <input id="filter-city-input-sari" type="checkbox" name="filter-city" value="ساری">
                        </span>
                        <span class="filter-meta-range">
                            ساری
                        </span>
                    </label>
                </li>
                <li id="filter_urum" class"city-filter">
                    <label for="filter-city-input-urum">
                        <span class="filter-control">
                            <input id="filter-city-input-urum" type="checkbox" name="filter-city" value="ارومیه">
                        </span>
                        <span class="filter-meta-range">
                            ارومیه
                        </span>
                    </label>
                </li>
                <li id="filter_ardabil" class"city-filter">
                    <label for="filter-city-input-ardabil">
                        <span class="filter-control">
                            <input id="filter-city-input-ardabil" type="checkbox" name="filter-city" value="اردبیل">
                        </span>
                        <span class="filter-meta-range">
                            اردبیل
                        </span>
                    </label>
                </li>
                <li id="filter_zanjan" class"city-filter">
                    <label for="filter-city-input-zanjan">
                        <span class="filter-control">
                            <input id="filter-city-input-zanjan" type="checkbox" name="filter-city" value="زنجان">
                        </span>
                        <span class="filter-meta-range">
                            زنجان
                        </span>
                    </label>
                </li>
                <li id="filter_ahvaz" class"city-filter">
                    <label for="filter-city-input-ahvaz">
                        <span class="filter-control">
                            <input id="filter-city-input-ahvaz" type="checkbox" name="filter-city" value="اهواز">
                        </span>
                        <span class="filter-meta-range">
                            اهواز
                        </span>
                    </label>
                </li>
                <li id="filter_karaj" class"city-filter">
                    <label for="filter-city-input-karaj">
                        <span class="filter-control">
                            <input id="filter-city-input-karaj" type="checkbox" name="filter-city" value="کرج">
                        </span>
                        <span class="filter-meta-range">
                            کرج
                        </span>
                    </label>
                </li>
                <li id="filter_bandar" class"city-filter">
                    <label for="filter-city-input-bandar">
                        <span class="filter-control">
                            <input id="filter-city-input-bandar" type="checkbox" name="filter-city" value="بندر-عباس">
                        </span>
                        <span class="filter-meta-range">
                            بندر عباس
                        </span>
                    </label>
                </li>
                <li id="filter_kermanshah" class"city-filter">
                    <label for="filter-city-input-kermanshah">
                        <span class="filter-control">
                            <input id="filter-city-input-kermanshah" type="checkbox" name="filter-city" value="کرمانشاه">
                        </span>
                        <span class="filter-meta-range">
                            کرمانشاه
                        </span>
                    </label>
                </li>
                <li id="filter_brujerd" class"city-filter">
                    <label for="filter-city-input-brujerd">
                        <span class="filter-control">
                            <input id="filter-city-input-brujerd" type="checkbox" name="filter-city" value="بروجرد">
                        </span>
                        <span class="filter-meta-range">
                            بروجرد
                        </span>
                    </label>
                </li>
                <li id="filter_rasht" class"city-filter">
                    <label for="filter-city-input-rasht">
                        <span class="filter-control">
                            <input id="filter-city-input-rasht" type="checkbox" name="filter-city" value="رشت">
                        </span>
                        <span class="filter-meta-range">
                            رشت
                        </span>
                    </label>
                </li>
                <li id="filter_ghazvin" class"city-filter">
                    <label for="filter-city-input-kerman1">
                        <span class="filter-control">
                            <input id="filter-city-input-kerman1" type="checkbox" name="filter-city" value="قزوین">
                        </span>
                        <span class="filter-meta-range">
                            قزوین
                        </span>
                    </label>
                </li>
                <li id="filter_kerman2" class"city-filter">
                    <label for="filter-city-input-kerman2">
                        <span class="filter-control">
                            <input id="filter-city-input-kerman2" type="checkbox" name="filter-city" value="اراک">
                        </span>
                        <span class="filter-meta-range">
                            اراک
                        </span>
                    </label>
                </li>
                <li id="filter_kerman3" class"city-filter">
                    <label for="filter-city-input-kerman3">
                        <span class="filter-control">
                            <input id="filter-city-input-kerman3" type="checkbox" name="filter-city" value="زاهدان">
                        </span>
                        <span class="filter-meta-range">
                            زاهدان
                        </span>
                    </label>
                </li>
                <li id="filter_kerman4" class"city-filter">
                    <label for="filter-city-input-kerman4">
                        <span class="filter-control">
                            <input id="filter-city-input-kerman4" type="checkbox" name="filter-city" value="خرم‌آباد">
                        </span>
                        <span class="filter-meta-range">
                            خرم‌آباد
                        </span>
                    </label>
                </li>
                <li id="filter_kerman5" class"city-filter">
                    <label for="filter-city-input-kerman5">
                        <span class="filter-control">
                            <input id="filter-city-input-kerman5" type="checkbox" name="filter-city" value="سنندج">
                        </span>
                        <span class="filter-meta-range">
                            سنندج
                        </span>
                    </label>
                </li>
                <li id="filter_kerman6" class"city-filter">
                    <label for="filter-city-input-kerman6">
                        <span class="filter-control">
                            <input id="filter-city-input-kerman6" type="checkbox" name="filter-city" value="بندر-بوشهر">
                        </span>
                        <span class="filter-meta-range">
                            بندر بوشهر
                        </span>
                    </label>
                </li>
                <li id="filter_kerman7" class"city-filter">
                    <label for="filter-city-input-kerman7">
                        <span class="filter-control">
                            <input id="filter-city-input-kerman7" type="checkbox" name="filter-city" value="گرگان">
                        </span>
                        <span class="filter-meta-range">
                            گرگان
                        </span>
                    </label>
                </li>
                <li id="filter_kerman8" class"city-filter">
                    <label for="filter-city-input-kerman8">
                        <span class="filter-control">
                            <input id="filter-city-input-kerman8" type="checkbox" name="filter-city" value="بجنورد">
                        </span>
                        <span class="filter-meta-range">
                            بجنورد
                        </span>
                    </label>
                </li>
                <li id="filter_kerman9" class"city-filter">
                    <label for="filter-city-input-kerman9">
                        <span class="filter-control">
                            <input id="filter-city-input-kerman9" type="checkbox" name="filter-city" value="بیرجند">
                        </span>
                        <span class="filter-meta-range">
                            بیرجند
                        </span>
                    </label>
                </li>
                <li id="filter_kerman10" class"city-filter">
                    <label for="filter-city-input-kerman10">
                        <span class="filter-control">
                            <input id="filter-city-input-kerman10" type="checkbox" name="filter-city" value="ایلام">
                        </span>
                        <span class="filter-meta-range">
                            ایلام
                        </span>
                    </label>
                </li>
                <li id="filter_kerman11" class"city-filter">
                    <label for="filter-city-input-kerman11">
                        <span class="filter-control">
                            <input id="filter-city-input-kerman11" type="checkbox" name="filter-city" value="شهرکرد">
                        </span>
                        <span class="filter-meta-range">
                            شهرکرد
                        </span>
                    </label>
                </li>
                <li id="filter_kerman12" class"city-filter">
                    <label for="filter-city-input-kerman12">
                        <span class="filter-control">
                            <input id="filter-city-input-kerman12" type="checkbox" name="filter-city" value="سمنان">
                        </span>
                        <span class="filter-meta-range">
                            سمنان
                        </span>
                    </label>
                </li>
                <li id="filter_kerman13" class"city-filter">
                    <label for="filter-city-input-kerman13">
                        <span class="filter-control">
                            <input id="filter-city-input-kerman13" type="checkbox" name="filter-city" value="شوشتر">
                        </span>
                        <span class="filter-meta-range">
                            شوشتر
                        </span>
                    </label>
                </li>
                <li id="filter_kerman14" class"city-filter">
                    <label for="filter-city-input-kerman14">
                        <span class="filter-control">
                            <input id="filter-city-input-kerman14" type="checkbox" name="filter-city" value="خلخال">
                        </span>
                        <span class="filter-meta-range">
                            خلخال
                        </span>
                    </label>
                </li>
                <li id="filter_kerman15" class"city-filter">
                    <label for="filter-city-input-kerman15">
                        <span class="filter-control">
                            <input id="filter-city-input-kerman15" type="checkbox" name="filter-city" value="چابهار">
                        </span>
                        <span class="filter-meta-range">
                            چابهار
                        </span>
                    </label>
                </li>
                <li id="filter_kerman16" class"city-filter">
                    <label for="filter-city-input-kerman16">
                        <span class="filter-control">
                            <input id="filter-city-input-kerman16" type="checkbox" name="filter-city" value="چابکسر">
                        </span>
                        <span class="filter-meta-range">
                            چابکسر
                        </span>
                    </label>
                </li>
                <li id="filter_kerman17" class"city-filter">
                    <label for="filter-city-input-kerman17">
                        <span class="filter-control">
                            <input id="filter-city-input-kerman17" type="checkbox" name="filter-city" value="چالوس">
                        </span>
                        <span class="filter-meta-range">
                            چالوس
                        </span>
                    </label>
                </li>
                <li id="filter_kerman18" class"city-filter">
                    <label for="filter-city-input-kerman18">
                        <span class="filter-control">
                            <input id="filter-city-input-kerman18" type="checkbox" name="filter-city" value="لاهیجان">
                        </span>
                        <span class="filter-meta-range">
                            لاهیجان
                        </span>
                    </label>
                </li>
                <li id="filter_kerman19" class"city-filter">
                    <label for="filter-city-input-kerman19">
                        <span class="filter-control">
                            <input id="filter-city-input-kerman19" type="checkbox" name="filter-city" value="رامسر">
                        </span>
                        <span class="filter-meta-range">
                            رامسر
                        </span>
                    </label>
                </li>
                <li id="filter_kerman20" class"city-filter">
                    <label for="filter-city-input-kerman20">
                        <span class="filter-control">
                            <input id="filter-city-input-kerman20" type="checkbox" name="filter-city" value="محمودآباد">
                        </span>
                        <span class="filter-meta-range">
                            محمودآباد
                        </span>
                    </label>
                </li>
            </ol>
        </dd>
    </dl>

    <!-- <dl id="filter-mealplan" class="expanded ">
        <dt>
            <a data-icon="upBlue after" href="javascript:void(0)">برنامه غذايي</a>
        </dt>
        <dd>
            <ol>
                <li id="filter_breakfast_included">
                    <label for="filter-mealplan-input-breakfast_included">
                        <span class="filter-control">
                            <input id="filter-mealplan-input-breakfast_included" type="checkbox" name="filter-mealplan" value="breakfast_included">
                        </span>
                        <span class="filter-meta-range">
                            شامل صبحانه
                            <span class="filter-meta-cost">
                                <span class="filter-meta-amount">(1)</span>
                            </span>
                        </span>
                    </label>
                </li>
            </ol>
        </dd>
    </dl> -->

    <!-- <dl id="filter-amenities" class="expanded long_list">
        <dt>
            <a data-icon="upBlue after" href="javascript:void(0)">امکانات</a>
        </dt>
        <dd>
            <ol>
                <li id="filter_WifiService">
                    <label for="filter-amenities-input-WifiService">
                        <span class="filter-control">
                            <input id="filter-amenities-input-WifiService" type="checkbox" name="filter-amenities" value="WifiService">
                        </span>
                        <span class="filter-meta-range">
                            Wi-Fi
                        </span>
                    </label>
                </li>
            </ol>
        </dd>
    </dl> -->

    <dl id="filter-accomodationtype" class="expanded long_list">
        <dt>
            <a data-icon="upBlue after" href="javascript:void(0)">نوغ اقامتگاه</a>
        </dt>
        <dd>
            <ol>
                <li id="filter_Hotel">
                    <label for="filter-accomodationtype-input-Hotel">
                        <span class="filter-control">
                            <input id="filter-accomodationtype-input-Hotel" type="checkbox" name="filter-accomodationtype" value="hotel">
                        </span>
                        <span class="filter-meta-range">
                            هتل
                        </span>
                    </label>
                </li>
                <li id="filter_aparteman">
                    <label for="filter-accomodationtype-input-aparteman">
                        <span class="filter-control">
                            <input id="filter-accomodationtype-input-aparteman" type="checkbox" name="filter-accomodationtype" value="aparteman">
                        </span>
                        <span class="filter-meta-range">
                            هتل آپارتمان
                        </span>
                    </label>
                </li>
                <li id="filter_sara">
                    <label for="filter-accomodationtype-input-sara">
                        <span class="filter-control">
                            <input id="filter-accomodationtype-input-sara" type="checkbox" name="filter-accomodationtype" value="sara">
                        </span>
                        <span class="filter-meta-range">
                            هتل مهمانسرا
                        </span>
                    </label>
                </li>
            </ol>
        </dd>
    </dl>
</div>