<div id="filter-inner" class="listing-inner displayed-price-total">

    <button id="btn-deselect-all-unknown" class="btn-deselect-all">حذف همه فيلتر ها</button>

    <dl id="filter-price" class="expanded">
        <dt>
            <a data-icon="upBlue after" href="javascript:void(0)">
                بازه قيمت
            </a>
        </dt>
        <dd>
            <ol>
                <li id="filter_range1">
                    <label for="filter-price-range1">
                        <span class="filter-control">
                            <input id="filter-price-range1" type="checkbox" name="filter-price" value="1">
                        </span>
                        <span class="filter-meta-range">
                            <span>100،000 - 0</span>
                            <span class="filter-meta-amount">(1)</span>
                        </span>
                    </label>
                </li>
                <li id="filter_range2">
                    <label for="filter-price-input-range2">
                        <span class="filter-control">
                            <input id="filter-price-input-range2" type="checkbox" name="filter-price" value="2">
                        </span>
                        <span class="filter-meta-range">
                            <span>200،000 - 100،000</span>
                            <span class="filter-meta-amount">(1)</span>
                        </span>
                    </label>
                </li>
                <li id="filter_range3">
                    <label for="filter-price-input-range3">
                        <span class="filter-control">
                            <input id="filter-price-input-range3" type="checkbox" name="filter-price" value="3">
                        </span>
                        <span class="filter-meta-range">
                            <span>500،000 - 200،000</span>
                            <span class="filter-meta-amount">(1)</span>
                        </span>
                    </label>
                </li>
                <li id="filter_range4">
                    <label for="filter-price-input-range4">
                        <span class="filter-control">
                            <input id="filter-price-input-range4" type="checkbox" name="filter-price" value="4">
                        </span>
                        <span class="filter-meta-range">
                            <span>1،000،000 - 500،000</span>
                            <span class="filter-meta-amount">(1)</span>
                        </span>
                    </label>
                </li>
                <li id="filter_range5">
                    <label for="filter-price-input-range5">
                        <span class="filter-control">
                            <input id="filter-price-input-range5" type="checkbox" name="filter-price" value="5">
                        </span>
                        <span class="filter-meta-range">
                            <span>>1،000،000</span>
                            <span class="filter-meta-amount">(1)</span>
                        </span>
                    </label>
                </li>
            </ol>
        </dd>
    </dl>

    <dl id="filter-category" class="expanded">
        <dt>
            <a data-icon="upBlue after" href="javascript:void(0)">ستاره </a>
        </dt>
        <dd>
            <ol>
                <li id="category5">
                    <label for="filter-category-input-5">
                        <span class="filter-control">
                            <input id="filter-category-input-5" type="checkbox" name="filter-category" value="5">
                        </span>
                        <span style="font-size:150%;color:Orange;">&starf;</span>
                        <span style="font-size:150%;color:Orange;">&starf;</span>
                        <span style="font-size:150%;color:Orange;">&starf;</span>
                        <span style="font-size:150%;color:Orange;">&starf;</span>
                        <span style="font-size:150%;color:Orange;">&starf;</span>
                        <span class="filter-meta-amount">(34)</span>
                    </label>
                </li>
                <li id="category4">
                    <label for="filter-category-input-4">
                        <span class="filter-control">
                            <input id="filter-category-input-4" type="checkbox" name="filter-category" value="4">
                        </span>
                        <span style="font-size:150%;color:Orange;">&starf;</span>
                        <span style="font-size:150%;color:Orange;">&starf;</span>
                        <span style="font-size:150%;color:Orange;">&starf;</span>
                        <span style="font-size:150%;color:Orange;">&starf;</span>
                        <span class="filter-meta-amount">(34)</span>
                    </label>
                </li>
                <li id="category3">
                    <label for="filter-category-input-3">
                        <span class="filter-control">
                            <input id="filter-category-input-3" type="checkbox" name="filter-category" value="3">
                        </span>
                        <span style="font-size:150%;color:Orange;">&starf;</span>
                        <span style="font-size:150%;color:Orange;">&starf;</span>
                        <span style="font-size:150%;color:Orange;">&starf;</span>
                        <span class="filter-meta-amount">(34)</span>
                    </label>
                </li>
                <li id="category2">
                    <label for="filter-category-input-2">
                        <span class="filter-control">
                            <input id="filter-category-input-2" type="checkbox" name="filter-category" value="2">
                        </span>
                        <span style="font-size:150%;color:Orange;">&starf;</span>
                        <span style="font-size:150%;color:Orange;">&starf;</span>
                        <span class="filter-meta-amount">(34)</span>
                    </label>
                </li>
                <li id="category1">
                    <label for="filter-category-input-1">
                        <span class="filter-control">
                            <input id="filter-category-input-1" type="checkbox" name="filter-category" value="1">
                        </span>
                        <span style="font-size:150%;color:Orange;">&starf;</span>
                        <span class="filter-meta-amount">(34)</span>
                    </label>
                </li>
            </ol>
        </dd>
    </dl>


    <dl id="filter-city" class="expanded long_list">
        <dt>
            <a data-icon="upBlue after" href="javascript:void(0)">شهر</a>
        </dt>
        <dd>
            <ol>
                <li class"city-filter" id="filter_tehran">
                    <label for="filter-city-input-tehran">
                        <span class="filter-control">
                            <input id="filter-city-input-tehran" type="checkbox" name="filter-city" value="tehran">
                        </span>
                        <span class="filter-meta-range">
                            تهران
                        </span>
                    </label>
                </li>
                <li class"city-filter" id="filter_esfahan">
                    <label for="filter-city-input-esfahan">
                        <span class="filter-control">
                            <input id="filter-city-input-esfahan" type="checkbox" name="filter-city" value="esfahan">
                        </span>
                        <span class="filter-meta-range">
                            اصفهان
                        </span>
                    </label>
                </li>
                <li class"city-filter" id="filter_mashhad">
                    <label for="filter-city-input-mashhad">
                        <span class="filter-control">
                            <input id="filter-city-input-mashhad" type="checkbox" name="filter-city" value="mashhad">
                        </span>
                        <span class="filter-meta-range">
                            مشهد
                        </span>
                    </label>
                </li>
                <li class"city-filter" id="filter_shiraz">
                    <label for="filter-city-input-shiraz">
                        <span class="filter-control">
                            <input id="filter-city-input-shiraz" type="checkbox" name="filter-city" value="shiraz">
                        </span>
                        <span class="filter-meta-range">
                            شيراز
                        </span>
                    </label>
                </li>
                <li class"city-filter" id="filter_tabriz">
                    <label for="filter-city-input-tabriz">
                        <span class="filter-control">
                            <input id="filter-city-input-tabriz" type="checkbox" name="filter-city" value="tabriz">
                        </span>
                        <span class="filter-meta-range">
                            تبريز
                        </span>
                    </label>
                </li>
                <li class"city-filter" id="filter_kish">
                    <label for="filter-city-input-kish">
                        <span class="filter-control">
                            <input id="filter-city-input-kish" type="checkbox" name="filter-city" value="kish">
                        </span>
                        <span class="filter-meta-range">
                            کيش
                        </span>
                    </label>
                </li>
                <li id="filter_hamedan" class"city-filter">
                    <label for="filter-city-input-hamedan">
                        <span class="filter-control">
                            <input id="filter-city-input-hamedan" type="checkbox" name="filter-city" value="hamedan">
                        </span>
                        <span class="filter-meta-range">
                            همدان
                        </span>
                    </label>
                </li>
                <li id="filter_kerman" class"city-filter">
                    <label for="filter-city-input-kerman">
                        <span class="filter-control">
                            <input id="filter-city-input-kerman" type="checkbox" name="filter-city" value="kerman">
                        </span>
                        <span class="filter-meta-range">
                            کرمان
                        </span>
                    </label>
                </li>
                <li id="filter_ghom" class"city-filter">
                    <label for="filter-city-input-ghom">
                        <span class="filter-control">
                            <input id="filter-city-input-ghom" type="checkbox" name="filter-city" value="ghom">
                        </span>
                        <span class="filter-meta-range">
                            قم
                        </span>
                    </label>
                </li>
                <li id="filter_yazd" class"city-filter">
                    <label for="filter-city-input-yazd">
                        <span class="filter-control">
                            <input id="filter-city-input-yazd" type="checkbox" name="filter-city" value="yazd">
                        </span>
                        <span class="filter-meta-range">
                            يزد
                        </span>
                    </label>
                </li>
            </ol>
        </dd>
    </dl>

    <!-- <dl id="filter-mealplan" class="expanded ">
        <dt>
            <a data-icon="upBlue after" href="javascript:void(0)">برنامه غذايي</a>
        </dt>
        <dd>
            <ol>
                <li id="filter_breakfast_included">
                    <label for="filter-mealplan-input-breakfast_included">
                        <span class="filter-control">
                            <input id="filter-mealplan-input-breakfast_included" type="checkbox" name="filter-mealplan" value="breakfast_included">
                        </span>
                        <span class="filter-meta-range">
                            شامل صبحانه
                            <span class="filter-meta-cost">
                                <span class="filter-meta-amount">(1)</span>
                            </span>
                        </span>
                    </label>
                </li>
            </ol>
        </dd>
    </dl> -->

    <!-- <dl id="filter-amenities" class="expanded long_list">
        <dt>
            <a data-icon="upBlue after" href="javascript:void(0)">امکانات</a>
        </dt>
        <dd>
            <ol>
                <li id="filter_WifiService">
                    <label for="filter-amenities-input-WifiService">
                        <span class="filter-control">
                            <input id="filter-amenities-input-WifiService" type="checkbox" name="filter-amenities" value="WifiService">
                        </span>
                        <span class="filter-meta-range">
                            Wi-Fi
                        </span>
                    </label>
                </li>
            </ol>
        </dd>
    </dl> -->

    <dl id="filter-accomodationtype" class="expanded long_list">
        <dt>
            <a data-icon="upBlue after" href="javascript:void(0)">نوغ اقامتگاه</a>
        </dt>
        <dd>
            <ol>
                <li id="filter_Hotel">
                    <label for="filter-accomodationtype-input-Hotel">
                        <span class="filter-control">
                            <input id="filter-accomodationtype-input-Hotel" type="checkbox" name="filter-accomodationtype" value="Hotel">
                        </span>
                        <span class="filter-meta-range">
                            هتل
                        </span>
                    </label>
                </li>
                <li id="filter_aparteman">
                    <label for="filter-accomodationtype-input-aparteman">
                        <span class="filter-control">
                            <input id="filter-accomodationtype-input-aparteman" type="checkbox" name="filter-accomodationtype" value="aparteman">
                        </span>
                        <span class="filter-meta-range">
                            هتل آپارتمان
                        </span>
                    </label>
                </li>
            </ol>
        </dd>
    </dl>
</div>