<div id="filter-inner" class="listing-inner displayed-price-total">

    <button id="btn-deselect-all-unknown" class="btn-deselect-all">حذف همه فيلتر ها</button>

    <dl id="filter-price" class="expanded">
        <dt>
            <a data-icon="upBlue after" href="javascript:void(0)">
                بازه قيمت
            </a>
        </dt>
        <dd>
            <ol>
                <li id="filter_PR_BK_1">
                    <label for="filter-price-input-PR_BK_1">
                        <span class="filter-control">
                            <input id="filter-price-input-PR_BK_1" type="checkbox" name="filter-price" value="PR_BK_1">
                        </span>
                        <span class="filter-meta-range">
                            <span>0 - 400،000</span>
                            <span class="filter-meta-amount">(1)</span>
                        </span>
                    </label>
                </li>
            </ol>
        </dd>
    </dl>

    <dl id="filter-category" class="expanded">
        <dt>
            <a data-icon="upBlue after" href="javascript:void(0)">ستاره </a>
        </dt>
        <dd>
            <ol>
                <li id="category5">
                    <label for="filter-category-input-5">
                        <span class="filter-control">
                            <input id="filter-category-input-5" type="checkbox" name="filter-category" value="5">
                        </span>
                        <span class="star-filter-5 filter-meta-range" data-icon="stars before">
                            <span class="filter-meta-cost">

                                <span>318،000</span>

                                <span class="filter-meta-amount">(34)</span>
                            </span>

                        </span>
                    </label>
                </li>
            </ol>
        </dd>
    </dl>


    <dl id="filter-city" class="expanded long_list">
        <dt>
            <a data-icon="upBlue after" href="javascript:void(0)">شهر</a>
        </dt>
        <dd>
            <ol>
                <li id="filter_27542019">
                    <label for="filter-city-input-27542019">
                        <span class="filter-control">
                            <input id="filter-city-input-27542019" type="checkbox" name="filter-city" value="27542019">
                        </span>
                        <span class="filter-meta-range">
                            همدان

                        </span>
                    </label>
                </li>
            </ol>
        </dd>
    </dl>

    <dl id="filter-mealplan" class="expanded ">
        <dt>
            <a data-icon="upBlue after" href="javascript:void(0)">برنامه غذايي</a>
        </dt>
        <dd>
            <ol>
                <li id="filter_breakfast_included">
                    <label for="filter-mealplan-input-breakfast_included">
                        <span class="filter-control">
                            <input id="filter-mealplan-input-breakfast_included" type="checkbox" name="filter-mealplan" value="breakfast_included">
                        </span>
                        <span class="filter-meta-range">
                            شامل صبحانه
                            <span class="filter-meta-cost">

                                <span>410،000</span>

                                <span class="filter-meta-amount">(1)</span>
                            </span>

                        </span>
                    </label>
                </li>
            </ol>
        </dd>
    </dl>

    <dl id="filter-amenities" class="expanded long_list">
        <dt>
            <a data-icon="upBlue after" href="javascript:void(0)">امکانات</a>
        </dt>
        <dd>
            <ol>
                <li id="filter_WifiService">
                    <label for="filter-amenities-input-WifiService">
                        <span class="filter-control">
                            <input id="filter-amenities-input-WifiService" type="checkbox" name="filter-amenities" value="WifiService">
                        </span>
                        <span class="filter-meta-range">
                            Wi-Fi
                            <span class="filter-meta-cost">
                                <span>416،000</span>
                                <span class="filter-meta-amount">(94)</span>
                            </span>

                        </span>
                    </label>
                </li>
            </ol>
        </dd>
    </dl>

    <dl id="filter-accomodationtype" class="expanded long_list">
        <dt>
            <a data-icon="upBlue after" href="javascript:void(0)">Accommodation Type</a>
        </dt>
        <dd>
            <ol>
                <li id="filter_Hotel">
                    <label for="filter-accomodationtype-input-Hotel">
                        <span class="filter-control">
                            <input id="filter-accomodationtype-input-Hotel" type="checkbox" name="filter-accomodationtype" value="Hotel">
                        </span>
                        <span class="filter-meta-range">
                            Hotel
                            <span class="filter-meta-cost">
                                <span>£318</span>
                                <span class="filter-meta-amount">(150)</span>
                            </span>

                        </span>
                    </label>
                </li>
            </ol>
        </dd>
    </dl>
</div>