<footer id="footer">
    <link rel="stylesheet" href="/Styles/mainFooter.css">
    <div id="footer-root">
        <div style="--bpk-link-alternate-color:rgb(255, 255, 255);--bpk-link-alternate-hover-color:rgb(255, 255, 255);--bpk-link-alternate-active-color:rgb(230, 228, 235);--bpk-link-alternate-visited-color:rgb(255, 255, 255);"
            class="Footer-3TmiO">
            <div class="Footer__content-1Kr3-">
                <div class="FooterGroup-2mQBk">
                    <h3 class="bpk-heading-h3-1PU4C">اطلاعات بيشتر</h3>
                    <ul class="FooterLinkList-WNt4s">
                        <li>
                            <div>
                                <a class="bpk-link-11cRK bpk-link--alternate-15ID-" href="https://www.skyscanner.net/hotels/all-cities" id="hotels-cities">شهرها</a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a class="bpk-link-11cRK bpk-link--alternate-15ID-" href="https://www.skyscanner.net/hotels" id="hotels-home">هتل ها</a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a class="bpk-link-11cRK bpk-link--alternate-15ID-" href="https://www.skyscanner.net/hotels" id="hotels-home">همکاران تجاري</a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a class="bpk-link-11cRK bpk-link--alternate-15ID-" href="https://www.skyscanner.net/guides/all-guides.html" id="city-guides">راهنماي سفر</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="FooterGroup-2mQBk">
                    <h3 class="bpk-heading-h3-1PU4C">ديرينگو</h3>
                    <ul class="FooterLinkList-WNt4s">
                        <li>
                            <div>
                                <a class="bpk-link-11cRK bpk-link--alternate-15ID-" href="https://partners.skyscanner.net/" id="work-with-us">درباره ما</a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a class="bpk-link-11cRK bpk-link--alternate-15ID-" href="https://partners.skyscanner.net/advertising" id="advertising">سوالات متداول</a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a class="bpk-link-11cRK bpk-link--alternate-15ID-" href="https://partners.skyscanner.net/travel-insight" id="travel-insight">قوانين و مقررات</a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a class="bpk-link-11cRK bpk-link--alternate-15ID-" href="https://partners.skyscanner.net/affiliate-products" id="affiliates">تماس با ما</a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a class="bpk-link-11cRK bpk-link--alternate-15ID-" href="https://partners.skyscanner.net/affiliate-products" id="affiliates">خبرنامه</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="FooterGroup-2mQBk">
                    <h3 class="bpk-heading-h3-1PU4C">راهنما</h3>
                    <ul class="FooterLinkList-WNt4s">
                        <li>
                            <div>
                                <a class="bpk-link-11cRK bpk-link--alternate-15ID-" href="https://www.skyscanner.net/aboutskyscanner.aspx" id="about-skyscanner">راهنماي جستجو</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</footer>