<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fa" prefix="og: http://ogp.me/ns#">

<header>
    <title>پیشنهاد ارزان ترین و مناسب ترین سایت رزرو هتل | جوتریپ</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123350658-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-123350658-1');
    </script>
    <meta charset="utf-8">
    <meta name="viewport"="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible"="IE=10" />
    <meta http-equiv="-Language"="fa" />
    <meta name="theme-color"="#ffffff" />
    <meta name="msapplication-TileColor"="#21c4d9" />
    <script>window['start-time'] = new Date().getTime();</script>
    <link href="/Plugins/dateRangePicker/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="/Plugins/dateRangePicker/css/daterangepicker.css" rel="stylesheet" />
    <link href="/Plugins/dateRangePicker/css/datepicker-theme.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/Styles/core.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- media queries css -->
    <link id="cssRTL" rel="stylesheet" href="/Styles/search-results.css">
    <link rel="stylesheet" href="/Styles/search-controls.css">
    <link rel="stylesheet" href="/Styles/main.css">
    <link href="/Styles/homepage.css" rel="stylesheet" />
    <link href="/Styles/destinations.css" rel="stylesheet" />
    <link href="/Styles/custom.css" rel="stylesheet" />
</header>

<body dir="rtl" id="category-hotels" class="lang-en page-hotelsesi action-hotelsindex   default-layout scaffold-font-size   spring-clean month-view-spring-clean ">
    <div id="position-fixer"></div>
    <noscript>
        <div class="no-js-msg">
            <p>
                jootrip needs JavaScript to work. It looks like your browser doesn't support JavaScript, or has it turned off. Please try
                again with JavaScript support.
            </p>
        </div>
    </noscript>
    <div id="pagewrap" class="clearfix">

        <%- include navbar.ejs %>

            <!--  body -->

            <!-- START  -->
            <main class="wrap content" style="width: 1048px">
                <article class="article">
                    <header class="single-post__header">
                    </header>
                    <img src="/images/logo/jootrip.jpg" alt="jootrip">

                    <p>جوتریپ جایی هست که شما می‌توانید در آن مناسب‌ترین هتل با ارزان‌ترین قیمت را در بین سایت‌های رزرواسیون
                        هتل پیدا کنید. برای پیدا کردن مناسب‌ترین هتل:</p>
                    <p>1. شهر مقصد یا هتل مورد نظرتان را در بخش جستجو وارد کنید.</p>
                    <p>2. تاریخ ورود و خروج را تعیین کنید.</p>
                    <p>3. تعداد نفرات و تعداد اتاق‌هایی که می‌خواهید رزرو کنید را مشخص کنید.</p>
                    <p>جوتریپ همه هتل‌های شهر مورد نظر را در تمامی سایت‌های معتبر رزرواسیون هتل از جمله اسنپ‌تریپ، جاباما، اقامت‌
                        24، جااینجاس و غیره جستجو می‌کند و سپس قیمت و مشخصات هتل‌ها را در هرکدام از سایت‌های رزرواسیون به
                        شما نشان می‌دهد. شما می‌توانید نتایج یافت شده را با روش‌های موجود بر اساس قیمت، ستاره هتل، نوع هتل
                        و امکانات موجود در هتل فیلتر کنید و به نتایج دلخواه خود برسید.
                    </p>
                    <p>بعد از یافتن هتل مورد نظر در بخش مشاهده قیمت‌ها با کلیک بر روی سایت رزرواسیون هتل به سایت مورد نظر جهت
                        رزرو هتل منتقل می‌شوید. در بخش مشاهده قیمت‌ها لیست اتاق‌ها برای رزرو را مشاهده می‌کنید. با استفاده
                        از این لیست اتاق‌های مورد نظر را رزرو نمایید. </p>
                    <p>به عنوان مثال تعداد شما 8 نفر هست و میخواهید 2 اتاق رزرو کنید. لیست اتاق‌ها، دو اتاقی را که در سایت مورد
                        نظر کمترین قیمت را دارند به شما نشان می‌دهد‌. مثلا پیشنهاد می‌دهد که دو اتاق چهار نفره در سایت مورد
                        نظر رزرو کنید یا یک اتاق سه نفره و یک اتاق پنج نفره.‌</p>
                    <br>
                    <br>
                    <br>
                    <br>
                </article>
            </main>

    </div>
    <!-- END  -->
    <!--  body -->
    <%- include footer.ejs %>
        <div class=" legal-info">
            <p id="copyright" class="asian-lang-font-reset">
                <span> jootrip.com &copy; 2018-2018</span>
            </p>
        </div>
        </div>
</body>

</html>