<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" prefix="og: http://ogp.me/ns#"><head profile="http://gmpg.org/xfn/11">
<%- include header.ejs %>
<body dir="rtl" id="category-hotels"
      class="lang-en page-hotelsesi action-hotelsindex   default-layout scaffold-font-size   spring-clean month-view-spring-clean ">
    <noscript>
        <div class="no-js-msg">
            <p>
                Diringo needs JavaScript to work. It looks like your browser doesn't support JavaScript, or has it turned
                off. Please try again with JavaScript support.
            </p>
        </div>
    </noscript>
    <div id="pagewrap" class="clearfix">
       
    <%- include navbar.ejs %>
<!--  body -->

  <!-- START  -->
        <div id="hotel--wrap" class="wrap clearfix">

            <div id="search-form-wrapper" class="hotel-search-form-wrapper springClean has_header show" style="background-image:url('/Images/background/testpic (17).jpg');background-position:center;background-size:cover">

                <div id="searchBG" class="search-bg" style="background-color:#000;opacity:0.4"></div>
                <header class="hotel-search-form-header header-always-visible">
                    <h2 class="white-text">جستجو، مقايسه و انتخاب مناسبترين هتل</h2>
                    <p class="white-text">ديرينگو به شما کمک ميکند تا در بين سايتهاي رزرو آنلاين هتل، ارزانترين را انتخاب کنيد</p>
                </header>
                <%- include search-form.ejs %>
            </div>

            <section id="confidence" class="provider-logos">
                <div class="confidence-wrapper">
                    <h2>ديرينگو براي يافتن ارزانترين و مناسب ترين هتل، همه سايتهاي رزرو آنلاين هتل را جستجو ميکند.</h2>
                    <ol class="clearfix">
                        <li class="provider-logo">
                            <span style="background-image: url(/Images/logo/eghamat24.png);"></span>
                        </li>

                        <li class="provider-logo">
                            <span style="background-image: url(/Images/logo/snapptrip-fa.svg);"></span>
                        </li>
                        <li class="provider-logo">
                            <span style="background-image: url(/Images/logo/jabama.png);"></span>
                        </li>
                        <li class="provider-logo">
                            <span style="background-image: url(/Images/logo/hotelyar.png);"></span>
                        </li>
                        <li class="provider-logo">
                            <span style="background-image: url(/Images/logo/flightio.png);"></span>
                        </li>

                    </ol>
                </div>
            </section>
            <section id="common-content" class="common-content">
                <div class="common-content-wrapper">
                    <ul class="clearfix">
                        <li class="usp" id="value-statement" data-icon="searchLarge before">
                            <h3>جستجو</h3>
                            <p>جستجوي بيش از 100,000 هتل در سراسر ايران</p>
                        </li>
                        <li class="usp" data-icon="compareLarge before">
                            <h3>مقايسه</h3>
                            <p>مقايسه بر اساس قيمت، موقعيت و امکانات</p>
                        </li>
                        <li class="usp" data-icon="saveLarge before">
                            <h3>انتخاب ارزانترين</h3>
                            <p>پيشنهاد ارزانترين قيمت در سايت هاي رزرو آنلاين هتل</p>
                        </li>
                    </ul>
                </div>
            </section>

            <div id="destination-wrapper" class="destinations_wrapper">
                <div id="destination" class="destinations">
                    <h2><strong>ميخواي مطمئن شي؟</strong> يکي از شهرهای پيشنهادي را انتخاب کن</h2>
                    <ul class="clearfix">
                        <li class="destination" id="destination_">
                            <a href="#">
                                <div class="destination_thumb"
                                     data-original="https://www.alaedin.travel/Files/Hotels/tabriz/shahryar/Alaedin-Travel-Agency-Tabriz-Shahryar-International-Hotel-View-2.jpg"
                                     style="background-image:url('https://www.alaedin.travel/Files/Hotels/tabriz/shahryar/Alaedin-Travel-Agency-Tabriz-Shahryar-International-Hotel-View-2.jpg')"></div>
                                <div class="destination_cta" data-icon="forwardBlue after">
                                    <h4>تبريز</h4>
                                    <p>هتل شهريار</p>
                                </div>
                            </a>
                        </li>
                        <li class="destination" id="destination_">
                            <a href="#">
                                <div class="destination_thumb"
                                     data-original="http://tripyar.com/uploads/picture/658/2.jpg"
                                     style="background-image:url('http://tripyar.com/uploads/picture/658/2.jpg')"></div>
                                <div class="destination_cta" data-icon="forwardBlue after">
                                    <h4>تبريز</h4>
                                    <p>هتل پارس</p>
                                </div>
                            </a>
                        </li>
                        <li class="destination" id="destination_">
                            <a href="#">
                                <div class="destination_thumb"
                                     data-original="https://www.iranhotelonline.com/MyHotel/images/HotelGallery/12221.jpg"
                                     style="background-image:url('https://www.iranhotelonline.com/MyHotel/images/HotelGallery/12221.jpg')"></div>
                                <div class="destination_cta" data-icon="forwardBlue after">
                                    <h4>تهران</h4>
                                    <p>هتل اسپيناس</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- END  -->    
<!--  body -->	  
        <%- include footer.ejs %>
        <div class=" legal-info">
            <p id="copyright" class="asian-lang-font-reset">
                <span> diringo &copy; 2018-2018</span>
            </p>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/Plugins/dateRangePicker/js/moment.min.js"></script>
        <script src="/Plugins/dateRangePicker/js/moment-jalaali.js"></script>
        <script src="/Plugins/dateRangePicker/js/daterangepicker-fa-ex.js"></script>
        <script src="/javascripts/index.js"></script>
    </div>
</body>
</html>