<div id="header-root" style="font-family: 'B Yekan'">
    <header class="Header-1_1R8">
        <div class="Header__wrapper-2KwQq clearfix wrap my-navbar">
            <nav class="SecondaryNav-3MUje">
                <ul class="SecondaryNav__list-1lEyp">
                    <li class="SecondaryNav__help-19EmT SecondaryNav__item-25SJ- SecondaryNav__item--small-_0Qtf">
                        <a class="bpk-link-143_C" href="/cities" target="_blank">شهرها</a>
                    </li>
                    <li class="SecondaryNav__help-19EmT SecondaryNav__item-25SJ- SecondaryNav__item--small-_0Qtf">
                        <a class="bpk-link-143_C" href="/help" target="_blank">راهنما</a>
                    </li>
                    <li class="SecondaryNav__help-19EmT SecondaryNav__item-25SJ- SecondaryNav__item--small-_0Qtf">
                        <a class="bpk-link-143_C" href="/about" target="_blank">درباره ما</a>
                    </li>
                    <li class="SecondaryNav__menu-393l9 toggle-touch-menu SecondaryNav__item-25SJ-" id="toggle-touch-menu">
                        <div>
                            <button class="TouchMenu__button-5XDtn">
                                <img src="/images/logo/jootrip.jpg" width="150em" height="100em" />
                            </button>
                        </div>
                    </li>
                </ul>
            </nav>
            <div id="identity" class="Header__logo-wrapper-26Akq" style="margin-top: -10px;">
                <a href="/" class="Logo-38wHj">
                    <img src="/images/logo/jootrip.jpg" width="150em" height="100em">
                    </img>

                    <span class="visually-hidden">جوتریپ</span>
                </a>
            </div>
            <nav id="PrimaryNav" class="PrimaryNav-2IMAs">
            </nav>
        </div>
    </header>
</div>