<nav class="pagination ">
    <div class="pagination_inner">
        <p class="pagination-summary">
            <strong>153</strong> results sorted by
            <em>Best</em>
            <span class="search-summary-info"></span>, sorted by
            <strong>Best</strong>
        </p>
        <ol class="hbox">
            <li class="btn-prev inactive">
                <button data-page="">&nbsp;</button>
            </li>
            <li data-page="1" class="selected">1</li>
            <li>
                <button data-page="2">2</button>
            </li>
            <li>
                <button data-page="3">3</button>
            </li>
            <li>…</li>
            <li>
                <button data-page="11">11</button>
            </li>
            <li class="btn-next">
                <button data-page="2">&nbsp;</button>
            </li>
        </ol>
    </div>
</nav>