<div class="hotel-inline-item hotel-inline-reviews" style="display: none;">
    <div class="cpa-see-prices-bar">
        <span class="cpa-see-prices-from"> 1 price starting from
            <span class="cpa-lowest-price price_format_total"> £164 </span>
            <span class="cpa-lowest-price price_format_room_night"> £164 </span>
        </span>
        <button class="hotel-cta-main hotel-details-link cpa-see-prices-cta" type="button" data-inlinetab="prices"> Check prices </button>
    </div>
    <div id="detail-reviews" class="hotel-detail hotel-detail-reviews reviews-tab ">
        <div class="reviews-tab__reviews-section">
            <div class="reviews-tab__title"> Overall guest ratings </div>
            <div class="reviews-summary">
                <div class="reviews-summary__pill-container">
                    <div class="review-pill review-score rating_8">
                        8.3
                    </div>
                </div>
                <div>
                    <div class="reviews-summary__text-rating text_rating_8">
                        Very good
                    </div>
                    <div class="reviews-summary__number-of-reviews-label">
                        Based on 5,602 reviews
                    </div>
                    <div class="reviews-summary__most-popular-label">
                        Most popular with
                        <strong> families </strong>
                    </div>
                </div>
            </div>

            <div class="features-section">
                <div class="features-section__first-features">
                    <div class="feature-rating">
                        <div class="feature-rating__title-container">
                            <div class="feature-rating__title">
                                Location
                            </div>
                        </div>
                        <div class="feature-rating__bar-container">
                            <div class="feature-rating__bar">
                                <div class="feature-rating__bar__background"></div>
                                <div class="feature-rating__bar__filler" style="width:81%;background-color:#22D579;"></div>
                            </div>
                        </div>
                        <div class="feature-rating__number-container">
                            <div class="feature-rating__number">
                                8.1
                            </div>
                        </div>
                    </div>
                    <div class="feature-rating">
                        <div class="feature-rating__title-container">
                            <div class="feature-rating__title">
                                Breakfast
                            </div>
                        </div>
                        <div class="feature-rating__bar-container">
                            <div class="feature-rating__bar">
                                <div class="feature-rating__bar__background"></div>
                                <div class="feature-rating__bar__filler" style="width:80%;background-color:#22D579;"></div>
                            </div>
                        </div>
                        <div class="feature-rating__number-container">
                            <div class="feature-rating__number">
                                8.0
                            </div>
                        </div>
                    </div>
                    <div class="feature-rating">
                        <div class="feature-rating__title-container">
                            <div class="feature-rating__title">
                                Room
                            </div>
                        </div>
                        <div class="feature-rating__bar-container">
                            <div class="feature-rating__bar">
                                <div class="feature-rating__bar__background"></div>
                                <div class="feature-rating__bar__filler" style="width:77%;background-color:#22D579;"></div>
                            </div>
                        </div>
                        <div class="feature-rating__number-container">
                            <div class="feature-rating__number">
                                7.7
                            </div>
                        </div>
                    </div>
                    <div class="feature-rating">
                        <div class="feature-rating__title-container">
                            <div class="feature-rating__title">
                                Service
                            </div>
                        </div>
                        <div class="feature-rating__bar-container">
                            <div class="feature-rating__bar">
                                <div class="feature-rating__bar__background"></div>
                                <div class="feature-rating__bar__filler" style="width:75%;background-color:#22D579;"></div>
                            </div>
                        </div>
                        <div class="feature-rating__number-container">
                            <div class="feature-rating__number">
                                7.5
                            </div>
                        </div>
                    </div>
                </div>
                <div class="features-section__last-features">
                    <div class="feature-rating">
                        <div class="feature-rating__title-container">
                            <div class="feature-rating__title">
                                WiFi
                            </div>
                        </div>
                        <div class="feature-rating__bar-container">
                            <div class="feature-rating__bar">
                                <div class="feature-rating__bar__background"></div>
                                <div class="feature-rating__bar__filler" style="width:70%;background-color:#22D579;"></div>
                            </div>
                        </div>
                        <div class="feature-rating__number-container">
                            <div class="feature-rating__number">
                                7.0
                            </div>
                        </div>
                    </div>
                    <div class="feature-rating">
                        <div class="feature-rating__title-container">
                            <div class="feature-rating__title">
                                Wellness Area
                            </div>
                        </div>
                        <div class="feature-rating__bar-container">
                            <div class="feature-rating__bar">
                                <div class="feature-rating__bar__background"></div>
                                <div class="feature-rating__bar__filler" style="width:62%;background-color:#E0A425;"></div>
                            </div>
                        </div>
                        <div class="feature-rating__number-container">
                            <div class="feature-rating__number">
                                6.2
                            </div>
                        </div>
                    </div>
                    <div class="feature-rating">
                        <div class="feature-rating__title-container">
                            <div class="feature-rating__title">
                                Value for money
                            </div>
                        </div>
                        <div class="feature-rating__bar-container">
                            <div class="feature-rating__bar">
                                <div class="feature-rating__bar__background"></div>
                                <div class="feature-rating__bar__filler" style="width:55%;background-color:#E0A425;"></div>
                            </div>
                        </div>
                        <div class="feature-rating__number-container">
                            <div class="feature-rating__number">
                                5.5
                            </div>
                        </div>
                    </div>
                    <div class="feature-rating">
                        <div class="feature-rating__title-container">
                            <div class="feature-rating__title">
                                Pool
                            </div>
                        </div>
                        <div class="feature-rating__bar-container">
                            <div class="feature-rating__bar">
                                <div class="feature-rating__bar__background"></div>
                                <div class="feature-rating__bar__filler" style="width:55%;background-color:#E0A425;"></div>
                            </div>
                        </div>
                        <div class="feature-rating__number-container">
                            <div class="feature-rating__number">
                                5.5
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="trust-you-img-section">
                <img src="//www.skyscanner.net/sttc/hotels-front-end/common/img/trustyou.png" class="trust-you-img-section__img">
            </div>
        </div>
        <p class="no-reviews" style="display:none">Reviews not available yet for this hotel</p>
    </div>
</div>