@font-face {
  font-family: 'BYekan';
  src: url('/font/BYekan.eot'); /* IE9 Compat Modes */
  src: url('/font/BYekan.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/font/BYekan.woff') format('woff'), /* Modern Browsers */ url('/font/BYekan.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: 700;
}
@font-face {
   font-family: 'B Yekan';
   src: local('?'),
   local('B Yekan'),
   url('http://awebfont.ir/services/fonts/683a5dddcff7f1cbb08d964cc275cb50ce7840291901931.woff') format('woff');
font-weight: normal;
font-style: normal;
}
body {
font-family: 'B Yekan', tahoma, Arial;
font-weight: 400;
color: #666;
font-size: 12px;
line-height: 20px;
width: 100%;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.pdatepicker input[data-v-157d4eff] {
  text-align: right !important;
  direction: rtl;
  width: 158px !important;
  background-color: #fff;
  font-family: 'B Yekan', tahoma, Arial;
  font-weight: 400;
  color: #3b344b;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
}
