<footer id="footer" style="font-family: 'B Yekan'">
    <link rel="stylesheet" href="/Styles/mainFooter.css">
    <div id="footer-root">
        <div style="--bpk-link-alternate-color:rgb(255, 255, 255);--bpk-link-alternate-hover-color:rgb(255, 255, 255);--bpk-link-alternate-active-color:rgb(230, 228, 235);--bpk-link-alternate-visited-color:rgb(255, 255, 255);"
            class="Footer-3TmiO">
            <div class="Footer__content-1Kr3-">
                <div class="FooterGroup-2mQBk">
                    <h3 class="bpk-heading-h3-1PU4C">اطلاعات بيشتر</h3>
                    <ul class="FooterLinkList-WNt4s">
                        <li>
                            <div>
                                <a class="bpk-link-11cRK bpk-link--alternate-15ID-" href="/" id="hotels-search">جستجوی هتل</a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a class="bpk-link-11cRK bpk-link--alternate-15ID-" href="/cities" id="hotels-cities">شهرها</a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a class="bpk-link-11cRK bpk-link--alternate-15ID-" href="/blog/about/" id="work-with-us">درباره ما</a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a class="bpk-link-11cRK bpk-link--alternate-15ID-" href="/blog/contact/" id="affiliates">تماس با ما</a>
                            </div>
                        </li>

                    </ul>
                </div>
                <div class="FooterGroup-2mQBk">
                    <h3 class="bpk-heading-h3-1PU4C">راهنما</h3>
                    <ul class="FooterLinkList-WNt4s">
                        <li>
                            <div>
                                <a class="bpk-link-11cRK bpk-link--alternate-15ID-" href="/help">راهنماي جستجو</a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a class="bpk-link-11cRK bpk-link--alternate-15ID-" href="/blog/">بلاگ</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</footer>