<div id="filter-inner" class="listing-inner displayed-price-total" style="font-family: 'B Yekan'">

    <button id="btn-deselect-all-unknown" class="btn-deselect-all">حذف همه فيلتر ها</button>

    <dl id="filter-price" class="expanded">
        <dt>
            <a data-icon="upBlue after" href="javascript:void(0)">
                بازه قيمت
            </a>
        </dt>
        <dd>
            <ol>
                <li id="filter_range1">
                    <label for="filter-price-range1">
                        <span class="filter-control">
                            <input id="filter-price-range1" type="checkbox" name="filter-price" value="1">
                        </span>
                        <span class="filter-meta-range">
                            <span>200،000 - 0</span>
                            <!-- <span class="filter-meta-amount">(1)</span> -->
                        </span>
                    </label>
                </li>
                <li id="filter_range2">
                    <label for="filter-price-input-range2">
                        <span class="filter-control">
                            <input id="filter-price-input-range2" type="checkbox" name="filter-price" value="2">
                        </span>
                        <span class="filter-meta-range">
                            <span>400،000 - 200،000</span>
                            <!-- <span class="filter-meta-amount">(1)</span> -->
                        </span>
                    </label>
                </li>
                <li id="filter_range3">
                    <label for="filter-price-input-range3">
                        <span class="filter-control">
                            <input id="filter-price-input-range3" type="checkbox" name="filter-price" value="3">
                        </span>
                        <span class="filter-meta-range">
                            <span>700،000 - 400،000</span>
                            <!-- <span class="filter-meta-amount">(1)</span> -->
                        </span>
                    </label>
                </li>
                <li id="filter_range4">
                    <label for="filter-price-input-range4">
                        <span class="filter-control">
                            <input id="filter-price-input-range4" type="checkbox" name="filter-price" value="4">
                        </span>
                        <span class="filter-meta-range">
                            <span>1،000،000 - 700،000</span>
                            <!-- <span class="filter-meta-amount">(1)</span> -->
                        </span>
                    </label>
                </li>
                <li id="filter_range5">
                    <label for="filter-price-input-range5">
                        <span class="filter-control">
                            <input id="filter-price-input-range5" type="checkbox" name="filter-price" value="5">
                        </span>
                        <span class="filter-meta-range">
                            <span>>1،000،000</span>
                            <!-- <span class="filter-meta-amount">(1)</span> -->
                        </span>
                    </label>
                </li>
            </ol>
        </dd>
    </dl>

    <dl id="filter-category" class="expanded">
        <dt>
            <a data-icon="upBlue after" href="javascript:void(0)">ستاره </a>
        </dt>
        <dd>
            <ol>
                <li id="category5">
                    <label for="filter-category-input-5">
                        <span class="filter-control">
                            <input id="filter-category-input-5" type="checkbox" name="filter-category" value="5">
                        </span>
                        <span style="font-size:150%;color:Orange;">&starf;</span>
                        <span style="font-size:150%;color:Orange;">&starf;</span>
                        <span style="font-size:150%;color:Orange;">&starf;</span>
                        <span style="font-size:150%;color:Orange;">&starf;</span>
                        <span style="font-size:150%;color:Orange;">&starf;</span>
                        <!-- <span class="filter-meta-amount">(34)</span> -->
                    </label>
                </li>
                <li id="category4">
                    <label for="filter-category-input-4">
                        <span class="filter-control">
                            <input id="filter-category-input-4" type="checkbox" name="filter-category" value="4">
                        </span>
                        <span style="font-size:150%;color:Orange;">&starf;</span>
                        <span style="font-size:150%;color:Orange;">&starf;</span>
                        <span style="font-size:150%;color:Orange;">&starf;</span>
                        <span style="font-size:150%;color:Orange;">&starf;</span>
                        <!-- <span class="filter-meta-amount">(34)</span> -->
                    </label>
                </li>
                <li id="category3">
                    <label for="filter-category-input-3">
                        <span class="filter-control">
                            <input id="filter-category-input-3" type="checkbox" name="filter-category" value="3">
                        </span>
                        <span style="font-size:150%;color:Orange;">&starf;</span>
                        <span style="font-size:150%;color:Orange;">&starf;</span>
                        <span style="font-size:150%;color:Orange;">&starf;</span>
                        <!-- <span class="filter-meta-amount">(34)</span> -->
                    </label>
                </li>
                <li id="category2">
                    <label for="filter-category-input-2">
                        <span class="filter-control">
                            <input id="filter-category-input-2" type="checkbox" name="filter-category" value="2">
                        </span>
                        <span style="font-size:150%;color:Orange;">&starf;</span>
                        <span style="font-size:150%;color:Orange;">&starf;</span>
                        <!-- <span class="filter-meta-amount">(34)</span> -->
                    </label>
                </li>
                <li id="category1">
                    <label for="filter-category-input-1">
                        <span class="filter-control">
                            <input id="filter-category-input-1" type="checkbox" name="filter-category" value="1">
                        </span>
                        <span style="font-size:150%;color:Orange;">&starf;</span>
                        <!-- <span class="filter-meta-amount">(34)</span> -->
                    </label>
                </li>
            </ol>
        </dd>
    </dl>

    <dl id="filter-accomodationtype" class="expanded long_list">
        <dt>
            <a data-icon="upBlue after" href="javascript:void(0)">نوع اقامتگاه</a>
        </dt>
        <dd>
            <ol>
                <li id="filter_Hotel">
                    <label for="filter-accomodationtype-input-Hotel">
                        <span class="filter-control">
                            <input id="filter-accomodationtype-input-Hotel" type="checkbox" name="filter-accomodationtype" value="hotel">
                        </span>
                        <span class="filter-meta-range">
                            هتل
                        </span>
                    </label>
                </li>
                <li id="filter_aparteman">
                    <label for="filter-accomodationtype-input-aparteman">
                        <span class="filter-control">
                            <input id="filter-accomodationtype-input-aparteman" type="checkbox" name="filter-accomodationtype" value="aparteman">
                        </span>
                        <span class="filter-meta-range">
                            هتل آپارتمان
                        </span>
                    </label>
                </li>
                <li id="filter_sara">
                    <label for="filter-accomodationtype-input-sara">
                        <span class="filter-control">
                            <input id="filter-accomodationtype-input-sara" type="checkbox" name="filter-accomodationtype" value="sara">
                        </span>
                        <span class="filter-meta-range">
                            هتل مهمانسرا
                        </span>
                    </label>
                </li>
                <li id="filter_sonati">
                    <label for="filter-accomodationtype-input-sonati">
                        <span class="filter-control">
                            <input id="filter-accomodationtype-input-sonati" type="checkbox" name="filter-accomodationtype" value="sonati">
                        </span>
                        <span class="filter-meta-range">
                            اقامتگاه سنتی
                        </span>
                    </label>
                </li>
            </ol>
        </dd>
    </dl>
</div>