<div id="identity" class="Header__logo-wrapper-26Akq logo" style="margin-top: -10px;">
    <a href="/" class="Logo-38wHj">
        <img src="/images/logo/jootrip.jpg" alt="jootrip" width="150em" height="100em">
        <span class="visually-hidden">جوتریپ</span>
    </a>
</div>