<div id="identity" class="logo">
    <a href="/" class="Logo-38wHj">
        <img src="/images/logo/jootrip.jpg" alt="jootrip" width="150em" height="100em">
        <span class="visually-hidden">جوتریپ</span>
    </a>
</div>