<noscript>
    <div class="no-js-msg">
        <p>
            jootrip needs JavaScript to work. It looks like your browser doesn't support JavaScript, or has it turned off. Please try
            again with JavaScript support.
        </p>
    </div>
</noscript>