<nav class="pagination " style="font-family: 'B Yekan'">
    <div class="pagination_inner">
        <p class="pagination-summary"> 
            نتایج مرتب شده بر اساس 
            <em></em>
        </p>
        <ol class="hbox">
            <li class="btn-prev inactive">
                <button data-page="">&nbsp;</button>
            </li>
            <li class="btn-next inactive">
                <button data-page="2">&nbsp;</button>
            </li>
        </ol>
    </div>
</nav>